<div>
    <h1>productos</h1>
    
    <ul>{{#each products}}
        <li>titulo:{{this.title}}</li>
        <li>Precio:{{this.price}}</li>
        <li>Code:{{this.code}}</li>
        <li>id:{{this._id}}</li>
        <li><a href="/product/{{this._id}}">desc com</a></li>
    {{/each}}
    </ul>
    
</div>
{{#if products.hasPrevPage}}
<a href="products/?limit={{products.limit}}&page={{products.prevPage}}">anterior</a>
{{/if}}

{{#if products.hasNextPage}}
<a href="products/?limit={{products.limit}}&page={{products.nextPage}}">siguiente</a>
{{/if}}
