<div>
    <h1>productos</h1>
    {{#each list}}
    <ul>
        <li>titulo:{{this.title}}</li>
        <li>descripcion:{{this.description}}</li>
        <li>Precio:{{this.price}}</li>
        <li>{{this.code}}</li>
        <li>{{this._id}}</li>
    </ul>
    {{/each}}
</div>