<div>
    <ul>
        <li>titulo:{{product.title}}</li>
        <li>descripcion:{{product.description}}</li>
        <li>Precio:{{product.price}}</li>
        <li>Code:{{product.code}}</li>
        <li>id:{{product._id}}</li>
    </ul>
</div>