<div>
    <h1>lista</h1>
    <h2>en tiempo real</h2>
    
    <form id="formNP" method="post">
        <input type="text" name="title" placeholder="title" required>
        <input type="text" name="description" placeholder="description" required>
        <input type="number" name="price" placeholder="price" required>
        <input type="number" name="stock" placeholder="stock" required>
        <input type="text" name="code" placeholder="code" required>
        <button type="submit">Enviar</button>
    </form>
    
    <ul id="plist">{{#each list}}
        <li>titulo:{{this.title}}</li>
        <li>descripcion:{{this.description}}</li>
        <li>Precio:{{this.price}}</li>
        <li>Codigo:{{this.code}}</li>
        <li id="pId">Id:{{this._id}}</li>
        <button type="button">borrar</button>
    
    {{/each}}</ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>